*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
